Assignment 5
=====================
**This weeks assignment should answer three questions**

*1. What is the northernmost airport in the United States?*
*2. What is the easternmost airport in the United States?*
*3. On February 12th, 2013, which New York area airport had the windiest weather?*
Use information from the CSV file:
[GithubLink](https://github.com/hadley/nycflights13/tree/master/data-raw)

In [39]:
#import statements
import pandas as pd
from pandas import DataFrame, Series
import numpy as np
from matplotlib import pyplot as plt
import matplotlib
%matplotlib inline

#Read information from file into pandas dataframe
airlines = pd.read_csv('airports.csv')
weather = pd.read_csv('weather.csv')

1. What is the northernmost airport in the United States?
----------------------------------------------------
In the airports data there is a column for the name [name], latitude[lat], longitude[long] and TimeZone [tzone].
If we are looking for the nothernmost airpot in the United States we need to sort the dataframe by descending
We need to look at those airports that have American in the Timezone, and which ones have the highest latitude
We are going to tidy up the data, removing missing columns where there are missing values

**Answer:** Wiley Post Will Rogers Mem is the northern most airport in the U.S.

In [40]:
#Tidy up the data
#Drop values where there is no data, NaN values
airlines.dropna(inplace=True, axis='rows')

#Sort by descending values
airlines.sort_values('lat', ascending=False).head()

,faa,name,lat,lon,alt,tz,dst,tzone
230,BRW,Wiley Post Will Rogers Mem,71.285446,-156.766003,44,-9,A,America/Anchorage
110,AIN,Wainwright Airport,70.638056,-159.994722,41,-9,A,America/Anchorage
708,K03,Wainwright As,70.613378,-159.860350,35,-9,A,America/Anchorage
152,ATK,Atqasuk Edward Burnell Sr Memorial Airport,70.467300,-157.436000,96,-9,A,America/Anchorage
1363,UUK,Ugnu-Kuparuk Airport,70.330833,-149.597500,67,-9,A,America/Anchorage

The can be confirmed with some research, if we look at the data and America/Anchorage is the northern most state in the U.S.
Additionally if looking at Wikipedia we can see that on the map the location is at the northern most part of Alaska.
[Wikipedia](https://en.wikipedia.org/wiki/Wiley_Post%E2%80%93Will_Rogers_Memorial_Airport)

**2. What is the easternmost airport in the United States?**

To determine what numbers should be used we can look at Google Earth map
[Google Earth](https://earth.google.com/web/@37.94115227,-76.35027818,-590.77010743a,4460383.6239177d,35y,0.00000121h,0t,0r)
The eastern part of the United States is between 60 degrees to 80 degrees latitude
And between 48 degrees and 37 degrees longetitude
If we look at the data in the file though, the lat is what is the value between 48 and 37
If we look at the data in the file though, the long should be negative values

In [41]:
#Calculate where the longetitude and lattitude meet the above parameters
neairports = airlines[(airlines['lon'] < -60) & (airlines['lon'] > -80) & (airlines['lat'] > 30) & (airlines['lat']  < 50)]
neairports.sort_values('lat', ascending=False).head()

,faa,name,lat,lon,alt,tz,dst,tzone
1398,WFK,Northern Aroostook Regional Airport,47.285556,-68.312778,988,-5,A,America/New_York
259,CAR,Caribou Muni,46.871500,-68.017917,626,-5,A,America/New_York
1101,PQI,Northern Maine Rgnl At Presque Isle,46.688958,-68.044797,534,-5,A,America/New_York
624,HUL,Houlton Intl,46.123083,-67.792056,489,-5,A,America/New_York
894,MLT,Millinocket Muni,45.647836,-68.685561,408,-5,A,America/New_York

**Answer:** Northern Aroostook Regional Airport

**3. On February 12th, 2013, which New York area airport had the windiest weather?**
Our data frame has month, day, year, and wind speed.
We want to find the unique airports:

In [42]:
weather.origin.unique()

array(['EWR', 'JFK', 'LGA'], dtype=object)

Use Google to determine where these airports are located
The three airports are
EWR which is located in New Jersey but is still technically a New York airport. JFK which is located in New York. LGA which is located in New York.
We will include all results and just limit the results to the date

In [43]:
weatherresults = weather[(weather['month']==2) & (weather['day']==12) & (weather['year']==2013)]
weatherresults.sort_values('wind_speed', ascending=False).head()

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
1009,EWR,2013,2,12,3,39.02,26.96,61.63,260.0,1048.36058,NaN,0.0,1008.3,10.0,2013-02-12T08:00:00Z
18417,LGA,2013,2,12,2,42.98,26.06,50.94,290.0,23.01560,31.07106,0.0,1007.1,10.0,2013-02-12T07:00:00Z
1018,EWR,2013,2,12,12,44.06,26.06,48.87,270.0,21.86482,31.07106,0.0,1012.5,10.0,2013-02-12T17:00:00Z
18428,LGA,2013,2,12,13,44.06,23.00,43.02,300.0,21.86482,25.31716,0.0,1011.7,10.0,2013-02-12T18:00:00Z
18429,LGA,2013,2,12,14,44.06,23.00,43.02,300.0,20.71404,25.31716,0.0,1011.5,10.0,2013-02-12T19:00:00Z

After reviewing the data it appears that without the wind_gust the wind_speed is not an accurate value.
We will clean up the data by removing NaN values. Now we can see that LGA had the windiest weather

**Answer:** LGA

In [44]:
#Drop values where there is no data, NaN values
#newweather = weatherresults.dropna()
newweather = weather[(weather['month']==2) & (weather['day']==12) & (weather['year']==2013)]
newweather.sort_values('wind_speed', ascending=False).head()

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
1009,EWR,2013,2,12,3,39.02,26.96,61.63,260.0,1048.36058,NaN,0.0,1008.3,10.0,2013-02-12T08:00:00Z
18417,LGA,2013,2,12,2,42.98,26.06,50.94,290.0,23.01560,31.07106,0.0,1007.1,10.0,2013-02-12T07:00:00Z
1018,EWR,2013,2,12,12,44.06,26.06,48.87,270.0,21.86482,31.07106,0.0,1012.5,10.0,2013-02-12T17:00:00Z
18428,LGA,2013,2,12,13,44.06,23.00,43.02,300.0,21.86482,25.31716,0.0,1011.7,10.0,2013-02-12T18:00:00Z
18429,LGA,2013,2,12,14,44.06,23.00,43.02,300.0,20.71404,25.31716,0.0,1011.5,10.0,2013-02-12T19:00:00Z